* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}

body {
    color: #CABFAB;
    background-color: #3f3f40ff;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #424243ff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
}

.menu_bar {
    display: none;
}

.menu {
    display: flex;
    position: relative;
    align-items: center;
}

li {
    margin-right: 2rem;
}

li:hover {
    font-weight: 1000;
    color: #DFD8C8;
    cursor: pointer;
}

img {
    width: 30vw;
}

.fa-bars {
    color: #CABFAB;
    font-size: 2rem;
}

.title-1 {
    text-align: center;
    margin: 1rem;
    font-size: 400%;
}

.title-2 {
    font-size: 200%;
    display: inline-block;
    position: relative;
    left: 5rem;
}

.info-1 {
    text-align: right;
    width: 60vw;
    margin-left: 15rem;
    margin-top: 2rem;
}

@media screen and (max-width: 840px) {
    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8%;
        width: 90vw;
        height: auto;
        background-color: #424243ff;
    }

    .header {
        display: flex;
        align-items: center;
    }

    img {
        width: 60%;
    }

    .menu_bar {
        display: flex;
        margin: auto;
    }
}