* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato','Roboto Condensed', sans-serif;
    list-style: none;
}

body {
    color: #CABFAB;
    background-color: #424243ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
}

.menu_bar {
    display: none;
}

.menu {
    display: flex;
    position: relative;
    align-items: center;
    transition: transform 10s ease-in-out;
}

li {
    margin-right: 2rem;
}

li:hover {
    font-weight: 1000;
    color: #DFD8C8;
    cursor: pointer;
}

img {
    width: 25vw;
}

.fa-bars {
    color: #CABFAB;
    font-size: 2rem;
}

.title-1 {
    text-align: center;
    margin: 1rem;
    font-size: 400%;
}

.title-2 {
    font-size: 200%;
    margin: 4rem;
}

.info-1 {
    text-align: right;
    width: 60vw;
    margin-left: 5rem;
    margin-top: 2rem;
}

a img {
    width: 2vw;
    margin: .8rem;
    margin-right: 2rem;
}

footer {
    box-shadow: 0px -3px 5px rgba(0, 0, 0, .5);
    text-align: right;
    position: sticky;
    bottom: 0;
    background-color: #424243ff;
}

@media screen and (max-width: 840px) {
    .menu {
        display: none;
    }

    .menu_bar {
        display: block;
        position: fixed;
        top: auto;
        right: 1rem;
    }

    li {
        margin: 1rem;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8%;
        width: 100vw;
        height: 50vh;
        background-color: #424243ff;        
    }

    .header {
        display: flex;
        align-items: center;
    }

    img {
        width: 60%;
    }

    a img {
        width: 10vw;
    }
}